{% extends 'core/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="vh-100 mt-3">
                <div class="h-25 d-inline-block w-90 bg-dark text-white opacity-75 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col">
                            <h1 class="m-2">
                                Problem to Solution Learning Platform 
                                <br>
                                <span style="margin-left: 90px;">(Learn at your own pace)</span>
                            </h1>
                        </div>
                    </div>
                    
                </div>
                <div class="h-25 d-inline-block w-100 bg-dark text-white opacity-75 d-flex justify-content-center align-items-center">
                    <p class="m-2">
                        Amidst the vast sea of learning materials, only those skilled <br>
                        in the art of filtration find the pure essence of knowledge necessary <br> 
                        for self-growth. We proudly declare: We are the filtrate, offering<br>
                        a carefully curated, step-by-step path to your personal development.
                    </p>
                </div>

                <div class="h-20 d-inline-block w-100 text-white d-flex justify-content-center align-items-center shadow-lg">
                    <a href="{% url 'products-list' %}" class="btn btn-outline-dark btn-lg m-2">See Courses</a>
                </div>
            </div>
        </div>
    </div>


    
</div>

{% endblock %}

