{% extends 'core/base.html' %}


{% block content %}
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-3">
      {% for course in courses %}
        <div class="col-sm-3 mb-3 d-flex justify-content-center shadow p-2">
            <div class="card border-dark text-end" style="width: 18.75rem;">
              
                <div class="card-body">
                  <h5 class="card-title display-5">{{course.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{course.category}}</h6>
                  <hr>
                  <p class="card-text">
                    {{course.short_message}}
                  </p>
                  <a href="{% url course.alias %}" class="btn btn-outline-success btn-sm">Start</a>
                  <a href="{% url 'py-modules' %}" class="btn btn-outline-success btn-sm">Continue</a>
                </div>
              
            </div>
        </div>
      {% endfor %} 
    </div>
</div>
{% endblock %}