<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texting</title>
    <style>
        .container {
            background-color: red;
            height: 50vh;
            width: 50%;
            /* height: 50%; */
        }
    </style>
</head>

<body>
    <div id="container" class="container"></div>

</body>
<script>
    container = document.getElementById('container')
    console.log(window.innerHeight, window.innerWidth)
    console.log(container.Width, container.Width)
</script>
</html>